name: outline
maintainers:
  - name: raulpatel
    url: https://raulpatel.com
apiVersion: v2
appVersion: 0.82.0
version: 1.0.2
description: Raul Outline Wiki Helm Chart
home: https://github.com/FeLiNa22/homeserver/tree/main/charts/outline
icon: https://raulpatel.com/images/raul.svg
keywords:
  - kubernetes
  - outline
  - wiki
  - docs
sources:
  - https://github.com/outline/outline

dependencies:
  - condition: global.postgresqlEnabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    # https://github.com/Masterminds/semver#checking-version-constraints
    version: 13.x.x
  - condition: global.redisEnabled
    name: redis
    repository: https://charts.bitnami.com/bitnami
    version: 18.x.x
  - condition: global.minioEnabled
    name: minio
    repository: https://charts.bitnami.com/bitnami
    version: 12.x.x
