{{- if and .Values.plex.enabled .Values.plex.ingress.enabled -}}
{{- $fullName := printf "%s-plex" .Release.Name -}}
{{- $svcPort := .Values.plex.service.port -}}
{{- if and .Values.plex.ingress.className (not (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion)) }}
  {{- if not (hasKey .Values.plex.ingress.annotations "kubernetes.io/ingress.class") }}
  {{- $_ := set .Values.plex.ingress.annotations "kubernetes.io/ingress.class" .Values.plex.ingress.className}}
  {{- end }}
{{- end }}
{{- if and .Values.authelia.enabled .Values.authelia.autoConfigureApps .Values.authelia.ingress.hosts }}
  {{- if eq .Values.authelia.ingressController "nginx" }}
    {{- $_ := set .Values.plex.ingress.annotations "nginx.ingress.kubernetes.io/auth-url" (printf "http://%s-authelia.%s.svc.cluster.local:9091/api/verify" .Release.Name .Release.Namespace) }}
    {{- $_ := set .Values.plex.ingress.annotations "nginx.ingress.kubernetes.io/auth-signin" (printf "https://%s/api/auth/signin?rm=$request_method" (index .Values.authelia.ingress.hosts 0).host) }}
  {{- else if eq .Values.authelia.ingressController "traefik" }}
    {{- $_ := set .Values.plex.ingress.annotations "traefik.ingress.kubernetes.io/router.middlewares" (printf "%s-authelia-auth@kubernetescrd" .Release.Namespace) }}
  {{- end }}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: plex
    app.kubernetes.io/instance: {{ .Release.Name }}-plex
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/part-of: {{ .Release.Name | quote }}
  {{- with .Values.plex.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if and .Values.plex.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.plex.ingress.className }}
  {{- end }}
  {{- if .Values.plex.ingress.tls }}
  tls:
    {{- range .Values.plex.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.plex.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            {{- if and .pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: {{ $fullName }}
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
{{- end }}
